<form [formGroup]="carForm" (ngSubmit)="updateCar()" >
  <h1>Chỉnh sửa thông tin xe khách số xe <input style="border: none" formControlName="soXe"> </h1>
  <table>
    <tr>
      <td>Số Xe</td>
      <td><input formControlName="soXe"></td>
    </tr>
    <tr>
      <td>Loại Xe</td>
      <td>
        <select formControlName="carType" [compareWith]="comparaFn">
          <option *ngFor="let car of carTypes" [ngValue]="car" >{{car.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Tên Nhà Xe</td>
      <td><input formControlName="tenNhaXe"></td>
    </tr>
    <tr>
      <td>Điểm Đi</td>
      <td><input formControlName="diemDi"></td>
    </tr>
    <tr>
      <td>Điểm Đến</td>
      <td><input formControlName="diemDen"></td>
    </tr>
    <tr>
      <td>Số Điện Thoại</td>
      <td><input formControlName="soDienThoai"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input formControlName="email"></td>
    </tr>
    <tr>
      <td>Giờ Đi</td>
      <td><input  formControlName="gioDi"></td>
    </tr>
    <tr>
      <td>Giờ Đến</td>
      <td><input formControlName="gioDen"></td>
    </tr>
  </table>
  <br>
  <button routerLink="/car" class="btn btn-outline-success">Quay lại</button>
  <button type="submit" style="margin-left: 100px" class="btn btn-outline-danger">Sửa</button>

</form>
