<h1>Điền thông tin dịch vụ</h1>
<form [formGroup]="facilityForm" (ngSubmit)="update()" >
  <table>
    <tr>
      <td>Tên dịch vụ</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Diện tích</td>
      <td><input type="text" formControlName="area"></td>
    </tr>
    <tr>
      <td>Giá tiền</td>
      <td><input type="text" formControlName="cost"></td>
    </tr>
    <tr>
      <td>Số lượng người</td>
      <td><input type="text" formControlName="maxpeople"></td>
    </tr>
    <tr>
      <td>Tiêu Chuẩn phòng</td>
      <td><input type="text" formControlName="standardRoom"></td>
    </tr>
    <tr>
      <td>Tiện ích khác</td>
      <td><input type="text" formControlName="descriptionOtherConvenience"></td>
    </tr>
    <tr>
      <td>Diện tích hồ bơi</td>
      <td><input type="text" formControlName="poolArea"></td>
    </tr>
    <tr>
      <td>Số tầng</td>
      <td><input type="text" formControlName="numberOfFloor"></td>
    </tr>
    <tr>
      <td>Dịch vụ khác</td>
      <td><input type="text" formControlName="facilityFree"></td>
    </tr>
    <tr>
      <td>Loại dịch vụ</td>
      <td>
        <select formControlName="facilityType" [compareWith]="comparaFn">
          <option *ngFor="let facilityType of facilityTypes" [ngValue]="facilityType">{{facilityType.name}}</option>
        </select>
      </td>
    </tr>
  </table>
  <button type="submit">Cập nhật dịch vụ</button>
</form>
