<h1>Danh Sách Học Sinh</h1>
<a routerLink="/student/create">Thêm Mới</a>
<table class="table">
  <tr>
    <th>STT</th>
    <th>Tên Học Sinh</th>
    <th>Giới Tính</th>
    <th>Email</th>
    <th>Lớp</th>
    <th>Xóa</th>
  </tr>
  <tr *ngFor="let student of students, index as i">
    <td>{{i + 1}}</td>
    <td>{{student.name}}</td>
    <td *ngIf="student.gender == 1">Nam</td>
    <td *ngIf="student.gender == 0">Nữ</td>
    <td>{{student.email}}</td>
    <td>{{student.classType.className}}</td>
    <td><button type="button" (click)="item=student" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</button></td>
  </tr>
</table>

<!--modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>bạn muốn xóa {{item.name}} không</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dong</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(item.id)">xoa
        </button>
      </div>
    </div>
  </div>
</div>
