<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t1.6435-9/83363712_2931661540189405_1872443228083453952_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=drVky80ijV4AX99hfie&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBXUMGwjZDrLY4_1C2jQ9_JNouEkDaVA5HenfaA20vNZA&oe=642FA86A" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
