

<div class="container">

  <h2 style="text-align: center">Danh Sách Dịch Vụ</h2>
  <a routerLink="/facility/create">Thêm mới dịch vụ</a>
  <table class="table table-striped">
    <thead>
    <tr style="color: orangered">
      <th>#</th>
      <th>Tên Dịch Vụ</th>
      <th>Diện Tích</th>
      <th>Giá Tiền</th>
      <th>Số Lượng Người</th>
      <th>Tiêu Chuẩn Phòng</th>
      <th>Tiện Ích</th>
      <th>Diện Tích Hồ Bơi</th>
      <th>Số Tầng</th>
      <th>Dịch Vụ Khác</th>
      <th>Loại Dịch Vụ</th>
      <th>Chức Năng</th>
      <th>Chức Năng</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let facility of facilities;index as i">
      <td scope="row">{{i +1}}</td>
      <td>{{facility.name}}</td>
      <td>{{facility.area}}</td>
      <td>{{facility.cost}}</td>
      <td>{{facility.maxpeople}}</td>
      <td>{{facility.standardRoom}}</td>
      <td>{{facility.descriptionOtherConvenience}}</td>
      <td>{{facility.poolArea}}</td>
      <td>{{facility.numberOfFloor}}</td>
      <td>{{facility.facilityFree}}</td>
      <td>{{facility.facilityType.name}}</td>
      <td><button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="item=facility">Xóa</button></td>
      <td><button class="btn btn-outline-danger" [routerLink]="['/facility/update',facility.id]" >Sửa</button></td>
    </tr>
    </tbody>
  </table>
</div>


<!--modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>bạn muốn xóa {{item.name}} không</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dong</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(item.id)">xoa
        </button>
      </div>
    </div>
  </div>
</div>
